trunk/activebpel-4.1/org.activebpel.rt.axis.bpel.web/support/active-bpel.war/WEB-INF/classes/wsdl/BPELConsumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BPELConsumer"
    targetNamespace="http://ece.uwaterloo.ca/aag/statefulbpel/consumer/BPELConsumer"
    xmlns:tns="http://ece.uwaterloo.ca/aag/statefulbpel/consumer/BPELConsumer"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl-soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
    xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://docs.oasis-open.org/wsn/b-2"/>
        </xsd:schema>
        <xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsn/b-2"
            xmlns="http://docs.oasis-open.org/wsn/b-2"
            xmlns:wsa="http://www.w3.org/2005/08/addressing"
            xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
            xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
            xmlns:wsrf-rl="http://docs.oasis-open.org/wsrf/rl-2"
            xmlns:wstop="http://docs.oasis-open.org/wsn/t-1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.w3.org/2005/08/addressing"/>
            <xsd:import namespace="http://docs.oasis-open.org/wsrf/bf-2"/>
            <xsd:import namespace="http://docs.oasis-open.org/wsn/t-1"/>
            <xsd:import namespace="http://docs.oasis-open.org/wsrf/rl-2"/>
            <xsd:complexType mixed="true" name="QueryExpressionType">
                <xsd:sequence>
                    <xsd:any maxOccurs="1" minOccurs="0" processContents="lax"/>
                </xsd:sequence>
                <xsd:attribute name="Dialect" type="xsd:anyURI" use="required"/>
            </xsd:complexType>
            <xsd:complexType mixed="true" name="TopicExpressionType">
                <xsd:sequence>
                    <xsd:any maxOccurs="1" minOccurs="0" processContents="lax"/>
                </xsd:sequence>
                <xsd:attribute name="Dialect" type="xsd:anyURI" use="required"/>
                <xsd:anyAttribute/>
            </xsd:complexType>
            <xsd:complexType name="FilterType">
                <xsd:sequence>
                    <xsd:any maxOccurs="unbounded" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SubscriptionPolicyType">
                <xsd:sequence>
                    <xsd:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="TopicExpression" type="wsnt:TopicExpressionType"/>
            <xsd:element default="true" name="FixedTopicSet" type="xsd:boolean"/>
            <xsd:element name="TopicExpressionDialect" type="xsd:anyURI"/>
            <xsd:element name="NotificationProducerRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="wsnt:TopicExpression"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:FixedTopicSet"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="wsnt:TopicExpressionDialect"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wstop:TopicSet"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConsumerReference" type="wsa:EndpointReferenceType"/>
            <xsd:element name="Filter" type="wsnt:FilterType"/>
            <xsd:element name="SubscriptionPolicy" type="wsnt:SubscriptionPolicyType"/>
            <xsd:element name="CreationTime" type="xsd:dateTime"/>
            <xsd:element name="SubscriptionManagerRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="wsrf-rl:CurrentTime"/>
                        <xsd:element ref="wsrf-rl:TerminationTime"/>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="wsnt:ConsumerReference"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:Filter"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:SubscriptionPolicy"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:CreationTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SubscriptionReference" type="wsa:EndpointReferenceType"/>
            <xsd:element name="Topic" type="wsnt:TopicExpressionType"/>
            <xsd:element name="ProducerReference" type="wsa:EndpointReferenceType"/>
            <xsd:complexType name="NotificationMessageHolderType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:SubscriptionReference"/>
                    <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:Topic"/>
                    <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:ProducerReference"/>
                    <xsd:element name="Message">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:any maxOccurs="1" minOccurs="1"
                                    namespace="##any" processContents="lax"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="NotificationMessage" type="wsnt:NotificationMessageHolderType"/>
            <xsd:element name="Notify">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="1" ref="wsnt:NotificationMessage"/>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="AbsoluteOrRelativeTimeType">
                <xsd:union memberTypes="xsd:dateTime xsd:duration"/>
            </xsd:simpleType>
            <xsd:element name="CurrentTime" type="xsd:dateTime"/>
            <xsd:element name="TerminationTime" nillable="true" type="xsd:dateTime"/>
            <xsd:element name="ProducerProperties" type="wsnt:QueryExpressionType"/>
            <xsd:element name="MessageContent" type="wsnt:QueryExpressionType"/>
            <xsd:element name="UseRaw">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="Subscribe">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1"
                            name="ConsumerReference" type="wsa:EndpointReferenceType"/>
                        <xsd:element maxOccurs="1" minOccurs="0"
                            name="Filter" type="wsnt:FilterType"/>
                        <xsd:element maxOccurs="1" minOccurs="0"
                            name="InitialTerminationTime"
                            nillable="true" type="wsnt:AbsoluteOrRelativeTimeType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="SubscriptionPolicy">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:any maxOccurs="unbounded"
                                    minOccurs="0" namespace="##any" processContents="lax"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SubscribeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1"
                            name="SubscriptionReference" type="wsa:EndpointReferenceType"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:CurrentTime"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:TerminationTime"/>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetCurrentMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Topic" type="wsnt:TopicExpressionType"/>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetCurrentMessageResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="SubscribeCreationFailedFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="SubscribeCreationFailedFault" type="wsnt:SubscribeCreationFailedFaultType"/>
            <xsd:complexType name="InvalidFilterFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="1" name="UnknownFilter" type="xsd:QName"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="InvalidFilterFault" type="wsnt:InvalidFilterFaultType"/>
            <xsd:complexType name="TopicExpressionDialectUnknownFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="TopicExpressionDialectUnknownFault" type="wsnt:TopicExpressionDialectUnknownFaultType"/>
            <xsd:complexType name="InvalidTopicExpressionFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="InvalidTopicExpressionFault" type="wsnt:InvalidTopicExpressionFaultType"/>
            <xsd:complexType name="TopicNotSupportedFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="TopicNotSupportedFault" type="wsnt:TopicNotSupportedFaultType"/>
            <xsd:complexType name="MultipleTopicsSpecifiedFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="MultipleTopicsSpecifiedFault" type="wsnt:MultipleTopicsSpecifiedFaultType"/>
            <xsd:complexType name="InvalidProducerPropertiesExpressionFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="InvalidProducerPropertiesExpressionFault" type="wsnt:InvalidProducerPropertiesExpressionFaultType"/>
            <xsd:complexType name="InvalidMessageContentExpressionFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="InvalidMessageContentExpressionFault" type="wsnt:InvalidMessageContentExpressionFaultType"/>
            <xsd:complexType name="UnrecognizedPolicyRequestFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="UnrecognizedPolicy" type="xsd:QName"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="UnrecognizedPolicyRequestFault" type="wsnt:UnrecognizedPolicyRequestFaultType"/>
            <xsd:complexType name="UnsupportedPolicyRequestFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="UnsupportedPolicy" type="xsd:QName"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="UnsupportedPolicyRequestFault" type="wsnt:UnsupportedPolicyRequestFaultType"/>
            <xsd:complexType name="NotifyMessageNotSupportedFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="NotifyMessageNotSupportedFault" type="wsnt:NotifyMessageNotSupportedFaultType"/>
            <xsd:complexType name="UnacceptableInitialTerminationTimeFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType">
                        <xsd:sequence>
                            <xsd:element name="MinimumTime" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0"
                                name="MaximumTime" type="xsd:dateTime"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="UnacceptableInitialTerminationTimeFault" type="wsnt:UnacceptableInitialTerminationTimeFaultType"/>
            <xsd:complexType name="NoCurrentMessageOnTopicFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="NoCurrentMessageOnTopicFault" type="wsnt:NoCurrentMessageOnTopicFaultType"/>
            <xsd:element name="GetMessages">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="MaximumNumber" type="xsd:nonNegativeInteger"/>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                    <xsd:anyAttribute/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetMessagesResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="wsnt:NotificationMessage"/>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                    <xsd:anyAttribute/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DestroyPullPoint">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                    <xsd:anyAttribute/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="DestroyPullPointResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                    <xsd:anyAttribute/>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="UnableToDestroyPullPointFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="UnableToDestroyPullPointFault" type="wsnt:UnableToDestroyPullPointFaultType"/>
            <xsd:element name="CreatePullPoint">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                    <xsd:anyAttribute/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreatePullPointResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PullPoint" type="wsa:EndpointReferenceType"/>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                    <xsd:anyAttribute/>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="UnableToCreatePullPointFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="UnableToCreatePullPointFault" type="wsnt:UnableToCreatePullPointFaultType"/>
            <xsd:element name="Renew">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1"
                            name="TerminationTime" nillable="true" type="wsnt:AbsoluteOrRelativeTimeType"/>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="RenewResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="wsnt:TerminationTime"/>
                        <xsd:element maxOccurs="1" minOccurs="0" ref="wsnt:CurrentTime"/>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="UnacceptableTerminationTimeFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType">
                        <xsd:sequence>
                            <xsd:element name="MinimumTime" type="xsd:dateTime"/>
                            <xsd:element minOccurs="0"
                                name="MaximumTime" type="xsd:dateTime"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="UnacceptableTerminationTimeFault" type="wsnt:UnacceptableTerminationTimeFaultType"/>
            <xsd:element name="Unsubscribe">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="UnsubscribeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="UnableToDestroySubscriptionFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="UnableToDestroySubscriptionFault" type="wsnt:UnableToDestroySubscriptionFaultType"/>
            <xsd:element name="PauseSubscription">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="PauseSubscriptionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ResumeSubscription">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ResumeSubscriptionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:any maxOccurs="unbounded" minOccurs="0"
                            namespace="##other" processContents="lax"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="PauseFailedFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="PauseFailedFault" type="wsnt:PauseFailedFaultType"/>
            <xsd:complexType name="ResumeFailedFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="ResumeFailedFault" type="wsnt:ResumeFailedFaultType"/>
        </xsd:schema>
        <xs:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="http://www.w3.org/2005/08/addressing"
            xmlns:tns="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="EndpointReference" type="tns:EndpointReferenceType"/>
            <xs:complexType mixed="false" name="EndpointReferenceType">
                <xs:sequence>
                    <xs:element name="Address" type="tns:AttributedURIType"/>
                    <xs:element minOccurs="0" name="ReferenceParameters" type="tns:ReferenceParametersType"/>
                    <xs:element minOccurs="0" ref="tns:Metadata"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                        namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:complexType mixed="false" name="ReferenceParametersType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                        namespace="##any" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:element name="Metadata" type="tns:MetadataType"/>
            <xs:complexType mixed="false" name="MetadataType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                        namespace="##any" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:element name="MessageID" type="tns:AttributedURIType"/>
            <xs:element name="RelatesTo" type="tns:RelatesToType"/>
            <xs:complexType mixed="false" name="RelatesToType">
                <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                        <xs:attribute
                            default="http://www.w3.org/2005/08/addressing/reply"
                            name="RelationshipType"
                            type="tns:RelationshipTypeOpenEnum" use="optional"/>
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType name="RelationshipTypeOpenEnum">
                <xs:union memberTypes="tns:RelationshipType xs:anyURI"/>
            </xs:simpleType>
            <xs:simpleType name="RelationshipType">
                <xs:restriction base="xs:anyURI">
                    <xs:enumeration value="http://www.w3.org/2005/08/addressing/reply"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="ReplyTo" type="tns:EndpointReferenceType"/>
            <xs:element name="From" type="tns:EndpointReferenceType"/>
            <xs:element name="FaultTo" type="tns:EndpointReferenceType"/>
            <xs:element name="To" type="tns:AttributedURIType"/>
            <xs:element name="Action" type="tns:AttributedURIType"/>
            <xs:complexType mixed="false" name="AttributedURIType">
                <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:attribute name="IsReferenceParameter" type="xs:boolean"/>
            <xs:simpleType name="FaultCodesOpenEnumType">
                <xs:union memberTypes="tns:FaultCodesType xs:QName"/>
            </xs:simpleType>
            <xs:simpleType name="FaultCodesType">
                <xs:restriction base="xs:QName">
                    <xs:enumeration value="tns:InvalidAddressingHeader"/>
                    <xs:enumeration value="tns:InvalidAddress"/>
                    <xs:enumeration value="tns:InvalidEPR"/>
                    <xs:enumeration value="tns:InvalidCardinality"/>
                    <xs:enumeration value="tns:MissingAddressInEPR"/>
                    <xs:enumeration value="tns:DuplicateMessageID"/>
                    <xs:enumeration value="tns:ActionMismatch"/>
                    <xs:enumeration value="tns:MessageAddressingHeaderRequired"/>
                    <xs:enumeration value="tns:DestinationUnreachable"/>
                    <xs:enumeration value="tns:ActionNotSupported"/>
                    <xs:enumeration value="tns:EndpointUnavailable"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="RetryAfter" type="tns:AttributedUnsignedLongType"/>
            <xs:complexType mixed="false" name="AttributedUnsignedLongType">
                <xs:simpleContent>
                    <xs:extension base="xs:unsignedLong">
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:element name="ProblemHeaderQName" type="tns:AttributedQNameType"/>
            <xs:complexType mixed="false" name="AttributedQNameType">
                <xs:simpleContent>
                    <xs:extension base="xs:QName">
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:element name="ProblemHeader" type="tns:AttributedAnyType"/>
            <xs:complexType mixed="false" name="AttributedAnyType">
                <xs:sequence>
                    <xs:any maxOccurs="1" minOccurs="1"
                        namespace="##any" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:element name="ProblemIRI" type="tns:AttributedURIType"/>
            <xs:element name="ProblemAction" type="tns:ProblemActionType"/>
            <xs:complexType mixed="false" name="ProblemActionType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:Action"/>
                    <xs:element minOccurs="0" name="SoapAction" type="xs:anyURI"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
        </xs:schema>
        <xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsrf/bf-2"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsa="http://www.w3.org/2005/08/addressing"
            xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <xsd:import namespace="http://www.w3.org/2005/08/addressing"/>
            <xsd:import namespace="http://www.w3.org/XML/1998/namespace">
                <xsd:annotation>
                    <xsd:documentation>
        Get access to the xml: attribute groups for xml:lang as declared on 'schema'
        and 'documentation' below
      </xsd:documentation>
                </xsd:annotation>
            </xsd:import>
            <xsd:element name="BaseFault" type="wsrf-bf:BaseFaultType"/>
            <xsd:complexType name="BaseFaultType">
                <xsd:sequence>
                    <xsd:any maxOccurs="unbounded" minOccurs="0"
                        namespace="##other" processContents="lax"/>
                    <xsd:element maxOccurs="1" minOccurs="1"
                        name="Timestamp" type="xsd:dateTime"/>
                    <xsd:element maxOccurs="1" minOccurs="0"
                        name="Originator" type="wsa:EndpointReferenceType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="ErrorCode">
                        <xsd:complexType>
                            <xsd:complexContent mixed="true">
                                <xsd:extension base="xsd:anyType">
                                    <xsd:attribute name="dialect"
                                    type="xsd:anyURI" use="required"/>
                                </xsd:extension>
                            </xsd:complexContent>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Description">
                        <xsd:complexType>
                            <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                    <xsd:attribute ref="xml:lang" use="optional"/>
                                </xsd:extension>
                            </xsd:simpleContent>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="FaultCause">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:any maxOccurs="1" minOccurs="1"
                                    namespace="##other" processContents="lax"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
                <xsd:anyAttribute namespace="##other" processContents="lax"/>
            </xsd:complexType>
        </xsd:schema>
        <xs:schema
            targetNamespace="http://www.w3.org/XML/1998/namespace"
            xml:lang="en" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:attribute name="lang" type="xs:language"/>
            <xs:attribute default="preserve" name="space">
                <xs:simpleType>
                    <xs:restriction base="xs:NCName">
                        <xs:enumeration value="default"/>
                        <xs:enumeration value="preserve"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="base" type="xs:anyURI"/>
            <xs:attributeGroup name="specialAttrs">
                <xs:attribute ref="xml:base"/>
                <xs:attribute ref="xml:lang"/>
                <xs:attribute ref="xml:space"/>
            </xs:attributeGroup>
        </xs:schema>
        <xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsn/t-1"
            xmlns:wstop="http://docs.oasis-open.org/wsn/t-1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType mixed="true" name="Documentation">
                <xsd:sequence>
                    <xsd:any maxOccurs="unbounded" minOccurs="0"
                        namespace="##any" processContents="lax"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType abstract="true" mixed="false" name="ExtensibleDocumented">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="documentation" type="wstop:Documentation"/>
                </xsd:sequence>
                <xsd:anyAttribute namespace="##other" processContents="lax"/>
            </xsd:complexType>
            <xsd:complexType mixed="true" name="QueryExpressionType">
                <xsd:sequence>
                    <xsd:any maxOccurs="1" minOccurs="0" processContents="lax"/>
                </xsd:sequence>
                <xsd:attribute name="Dialect" type="xsd:anyURI" use="required"/>
            </xsd:complexType>
            <xsd:complexType name="TopicNamespaceType">
                <xsd:complexContent>
                    <xsd:extension base="wstop:ExtensibleDocumented">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Topic">
                                <xsd:complexType>
                                    <xsd:complexContent>
                                    <xsd:extension base="wstop:TopicType">
                                    <xsd:attribute name="parent" type="wstop:ConcreteTopicExpression"/>
                                    </xsd:extension>
                                    </xsd:complexContent>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:any maxOccurs="unbounded" minOccurs="0"
                                namespace="##other" processContents="lax"/>
                        </xsd:sequence>
                        <xsd:attribute name="name" type="xsd:NCName"/>
                        <xsd:attribute name="targetNamespace"
                            type="xsd:anyURI" use="required"/>
                        <xsd:attribute default="false" name="final" type="xsd:boolean"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="TopicNamespace" type="wstop:TopicNamespaceType">
                <xsd:unique name="rootTopicUniqueness">
                    <xsd:selector xpath="wstop:Topic"/>
                    <xsd:field xpath="@name"/>
                </xsd:unique>
            </xsd:element>
            <xsd:attribute name="topicNamespaceLocation" type="xsd:anyURI"/>
            <xsd:complexType name="TopicType">
                <xsd:complexContent>
                    <xsd:extension base="wstop:ExtensibleDocumented">
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0"
                                name="MessagePattern" type="wstop:QueryExpressionType"/>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="Topic" type="wstop:TopicType">
                                <xsd:unique name="childTopicUniqueness">
                                    <xsd:selector xpath="wstop:topic"/>
                                    <xsd:field xpath="@name"/>
                                </xsd:unique>
                            </xsd:element>
                            <xsd:any maxOccurs="unbounded" minOccurs="0" namespace="##other"/>
                        </xsd:sequence>
                        <xsd:attribute name="name" type="xsd:NCName" use="required"/>
                        <xsd:attribute name="messageTypes">
                            <xsd:simpleType>
                                <xsd:list itemType="xsd:QName"/>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute default="false" name="final" type="xsd:boolean"/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="TopicSetType">
                <xsd:complexContent>
                    <xsd:extension base="wstop:ExtensibleDocumented">
                        <xsd:sequence>
                            <xsd:any maxOccurs="unbounded" minOccurs="0"
                                namespace="##other" processContents="lax"/>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="TopicSet" type="wstop:TopicSetType"/>
            <xsd:attribute default="false" name="topic" type="xsd:boolean"/>
            <xsd:simpleType name="FullTopicExpression">
                <xsd:restriction base="xsd:token">
                    <xsd:annotation>
                        <xsd:documentation>
        TopicPathExpression  ::=   TopicPath ( '|' TopicPath )*  
        TopicPath       ::=   RootTopic ChildTopicExpression* 
        RootTopic       ::=   NamespacePrefix? ('//')? (NCName | '*')  
        NamespacePrefix ::=   NCName ':'      
        ChildTopicExpression ::=   '/' '/'? (QName | NCName | '*'| '.')
                        
        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:pattern value="([\i-[:]][\c-[:]]*:)?(//)?([\i-[:]][\c-[:]]*|\*)((/|//)(([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*|\*|[.]))*(\|([\i-[:]][\c-[:]]*:)?(//)?([\i-[:]][\c-[:]]*|\*)((/|//)(([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*|\*|[.]))*)*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ConcreteTopicExpression">
                <xsd:restriction base="xsd:token">
                    <xsd:annotation>
                        <xsd:documentation>
  The pattern allows strings matching the following EBNF:
    ConcreteTopicPath    ::=   RootTopic ChildTopic*    
    RootTopic            ::=   QName  
    ChildTopic           ::=   '/' (QName | NCName) 
                        
        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:pattern value="(([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*)(/([\i-[:]][\c-[:]]*:)?[\i-[:]][\c-[:]]*)*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="SimpleTopicExpression">
                <xsd:restriction base="xsd:QName">
                    <xsd:annotation>
                        <xsd:documentation>
  The pattern allows strings matching the following EBNF:
    RootTopic            ::=   QName  
                        
        </xsd:documentation>
                    </xsd:annotation>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="http://docs.oasis-open.org/wsrf/rl-2"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsrf-bf="http://docs.oasis-open.org/wsrf/bf-2"
            xmlns:wsrf-rl="http://docs.oasis-open.org/wsrf/rl-2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <xsd:import namespace="http://docs.oasis-open.org/wsrf/bf-2"/>
            <xsd:element name="CurrentTime">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:dateTime">
                            <xsd:anyAttribute namespace="##other" processContents="lax"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="TerminationTime" nillable="true">
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:extension base="xsd:dateTime">
                            <xsd:anyAttribute namespace="##other" processContents="lax"/>
                        </xsd:extension>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ScheduledResourceTerminationRP">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="wsrf-rl:CurrentTime"/>
                        <xsd:element maxOccurs="1" minOccurs="1" ref="wsrf-rl:TerminationTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Destroy">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="DestroyResponse">
                <xsd:complexType/>
            </xsd:element>
            <xsd:complexType name="ResourceNotDestroyedFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="ResourceNotDestroyedFault" type="wsrf-rl:ResourceNotDestroyedFaultType"/>
            <xsd:element name="SetTerminationTime">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="RequestedTerminationTime"
                            nillable="true" type="xsd:dateTime"/>
                        <xsd:element name="RequestedLifetimeDuration" type="xsd:duration"/>
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SetTerminationTimeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="NewTerminationTime"
                            nillable="true" type="xsd:dateTime"/>
                        <xsd:element name="CurrentTime" type="xsd:dateTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="UnableToSetTerminationTimeFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="UnableToSetTerminationTimeFault" type="wsrf-rl:UnableToSetTerminationTimeFaultType"/>
            <xsd:complexType name="TerminationTimeChangeRejectedFaultType">
                <xsd:complexContent>
                    <xsd:extension base="wsrf-bf:BaseFaultType"/>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="TerminationTimeChangeRejectedFault" type="wsrf-rl:TerminationTimeChangeRejectedFaultType"/>
            <xsd:element name="TerminationNotification">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1"
                            name="TerminationTime" nillable="true" type="xsd:dateTime"/>
                        <xsd:element maxOccurs="1" minOccurs="0"
                            name="TerminationReason" type="xsd:anyType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Notify">
        <wsdl:part element="wsnt:Notify" name="Notify"/>
    </wsdl:message>
    <wsdl:portType name="NotificationConsumer">
        <wsdl:operation name="Notify">
            <wsdl:input message="tns:Notify" wsa:Action="http://docs.oasis-open.org/wsn/bw-2/NotificationConsumer/NotifyRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Binding" type="tns:NotificationConsumer">
        <wsdl-soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Notify">
            <wsdl-soap:operation/>
            <wsdl:input>
                <wsdl-soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Service">
        <wsdl:port binding="tns:Binding" name="Port">
            <wsdl-soap:address location="http://localhost/contextconsumer/services/BPELConsumer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
