trunk/activebpel-4.1/org.activebpel.rt.axis.bpel.web/support/active-bpel.war/WEB-INF/classes/wsdl/BPELConsumerFactory.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BPELConsumerFactory"
    targetNamespace="http://ece.uwaterloo.ca/aag/statefulbpel/factory/BPELConsumerFactory"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://ece.uwaterloo.ca/aag/statefulbpel/factory/BPELConsumerFactory"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl-soap="http://schemas.xmlsoap.org/wsdl/soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="http://www.w3.org/2005/08/addressing"
            xmlns:tns="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="EndpointReference" type="tns:EndpointReferenceType"/>
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema"
                mixed="false" name="EndpointReferenceType">
                <xs:sequence>
                    <xs:element name="Address" type="tns:AttributedURIType"/>
                    <xs:element minOccurs="0" name="ReferenceParameters" type="tns:ReferenceParametersType"/>
                    <xs:element minOccurs="0" ref="tns:Metadata"/>
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                        namespace="##other" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema"
                mixed="false" name="ReferenceParametersType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                        namespace="##any" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="Metadata" type="tns:MetadataType"/>
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema"
                mixed="false" name="MetadataType">
                <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                        namespace="##any" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="MessageID" type="tns:AttributedURIType"/>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="RelatesTo" type="tns:RelatesToType"/>
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema"
                mixed="false" name="RelatesToType">
                <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                        <xs:attribute
                            default="http://www.w3.org/2005/08/addressing/reply"
                            name="RelationshipType"
                            type="tns:RelationshipTypeOpenEnum" use="optional"/>
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="RelationshipTypeOpenEnum">
                <xs:union memberTypes="tns:RelationshipType xs:anyURI"/>
            </xs:simpleType>
            <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="RelationshipType">
                <xs:restriction base="xs:anyURI">
                    <xs:enumeration value="http://www.w3.org/2005/08/addressing/reply"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="ReplyTo" type="tns:EndpointReferenceType"/>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="From" type="tns:EndpointReferenceType"/>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="FaultTo" type="tns:EndpointReferenceType"/>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="To" type="tns:AttributedURIType"/>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="Action" type="tns:AttributedURIType"/>
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema"
                mixed="false" name="AttributedURIType">
                <xs:simpleContent>
                    <xs:extension base="xs:anyURI">
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:attribute xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="IsReferenceParameter" type="xs:boolean"/>
            <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="FaultCodesOpenEnumType">
                <xs:union memberTypes="tns:FaultCodesType xs:QName"/>
            </xs:simpleType>
            <xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="FaultCodesType">
                <xs:restriction base="xs:QName">
                    <xs:enumeration value="tns:InvalidAddressingHeader"/>
                    <xs:enumeration value="tns:InvalidAddress"/>
                    <xs:enumeration value="tns:InvalidEPR"/>
                    <xs:enumeration value="tns:InvalidCardinality"/>
                    <xs:enumeration value="tns:MissingAddressInEPR"/>
                    <xs:enumeration value="tns:DuplicateMessageID"/>
                    <xs:enumeration value="tns:ActionMismatch"/>
                    <xs:enumeration value="tns:MessageAddressingHeaderRequired"/>
                    <xs:enumeration value="tns:DestinationUnreachable"/>
                    <xs:enumeration value="tns:ActionNotSupported"/>
                    <xs:enumeration value="tns:EndpointUnavailable"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="RetryAfter" type="tns:AttributedUnsignedLongType"/>
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema"
                mixed="false" name="AttributedUnsignedLongType">
                <xs:simpleContent>
                    <xs:extension base="xs:unsignedLong">
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="ProblemHeaderQName" type="tns:AttributedQNameType"/>
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema"
                mixed="false" name="AttributedQNameType">
                <xs:simpleContent>
                    <xs:extension base="xs:QName">
                        <xs:anyAttribute namespace="##other" processContents="lax"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="ProblemHeader" type="tns:AttributedAnyType"/>
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema"
                mixed="false" name="AttributedAnyType">
                <xs:sequence>
                    <xs:any maxOccurs="1" minOccurs="1"
                        namespace="##any" processContents="lax"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="ProblemIRI" type="tns:AttributedURIType"/>
            <xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema"
                name="ProblemAction" type="tns:ProblemActionType"/>
            <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema"
                mixed="false" name="ProblemActionType">
                <xs:sequence>
                    <xs:element minOccurs="0" ref="tns:Action"/>
                    <xs:element minOccurs="0" name="SoapAction" type="xs:anyURI"/>
                </xs:sequence>
                <xs:anyAttribute namespace="##other" processContents="lax"/>
            </xs:complexType>
        </xsd:schema>
        <xsd:schema elementFormDefault="qualified"
            targetNamespace="http://ece.uwaterloo.ca/aag/statefulbpel/factory/BPELConsumerFactory" xmlns:wsa="http://www.w3.org/2005/08/addressing">
            <xsd:import namespace="http://www.w3.org/2005/08/addressing"/>
            <xsd:element name="CreateBPELConsumer">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ProcessID" type="xsd:long"/>
                        <xsd:element name="ProcessQName" type="xsd:QName"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateBPELConsumerResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="BPELConsumerEPR" type="wsa:EndpointReferenceType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateBPELConsumerRequest">
        <wsdl:part element="tns:CreateBPELConsumer" name="wrapper"/>
    </wsdl:message>
    <wsdl:message name="CreateBPELConsumerResponse">
        <wsdl:part element="tns:CreateBPELConsumerResponse" name="wrapper"/>
    </wsdl:message>
    <wsdl:portType name="BPELConsumerFactoryPortType">
        <wsdl:operation name="CreateBPELConsumer">
            <wsdl:input message="tns:CreateBPELConsumerRequest" wsa:Action="http://ece.uwaterloo.ca/aag/statefulbpel/factory/BPELConsumerFactory/CreateBPELConsumer"/>
            <wsdl:output message="tns:CreateBPELConsumerResponse" wsa:Action="http://ece.uwaterloo.ca/aag/statefulbpel/factory/BPELConsumerFactory/CreateBPELConsumerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BPELConsumerFactoryBinding" type="tns:BPELConsumerFactoryPortType">
        <wsdl-soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateBPELConsumer">
            <wsdl-soap:operation soapAction="CreateBPELConsumer"/>
            <wsdl:input>
                <wsdl-soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdl-soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BPELConsumerFactory">
        <wsdl:port binding="tns:BPELConsumerFactoryBinding" name="BPELConsumerFactoryPort">
            <wsdl-soap:address location="http://localhost:9090/active-bpel/services/MuseService/BPELConsumerFactory"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
